<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row class="navbar">
    <a routerLink="/"><img height="65px" src="../assets/images/logo/logo.png" alt=""></a>
    <span class="menu-spacer"></span>
    <div class="desctop-navbar">
      <a mat-button routerLink="/"> Главная </a>
      <a mat-button routerLink="/car-park"> Автопарк </a>
    </div>
    <button mat-icon-button class="mobile-navbar">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/"> Главная </a>
      <a mat-list-item routerLink="/car-park"> Автопарк </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
